:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: #213547;

  /* background-color: #242424; */
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.color-1 {
  color: rgb(0, 8, 255);
}
.bg-color {
  background: rgb(0, 8, 255);
}

.NavLink {
  color: #000;
}
.NavLink.active {
  color: rgb(0, 8, 255);
}

.img-div {
  scroll-snap-type: x mandatory;
}
.img-div img {
  scroll-snap-align: center;
}

.div-content {
  scroll-snap-type: x mandatory;
}
.div-content-item {
  scroll-snap-align: center;
}

.rotar {
  transform: rotate(180deg);
}

.heigth-spinners {
  min-height: 100px;
}

.scale-up-center {
  animation: scale-up-center 0.4s;
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.scale-up-vertical-top {
  animation: scale-up-vertical-bottom 0.4s linear;
}
@keyframes scale-up-vertical-bottom {
  0% {
    transform: scaleY(0.4);
    transform-origin: center bottom;
  }
  100% {
    transform: scaleY(1);
    transform-origin: center bottom;
  }
}

.slide-bottom {
  animation: slide-bottom 0.4s linear both;
}
@keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}

.scale-up-vertical-top {
  animation: scale-up-vertical-bottom 0.1s linear;
}
@keyframes scale-up-vertical-bottom {
  0% {
    transform: scaleY(0.4);
    transform-origin: center bottom;
  }
  100% {
    transform: scaleY(1);
    transform-origin: center bottom;
  }
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* .NavBarItem {

  } */
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.slider img {
  width: 100%;
  height: auto;
  flex: 0 0 100%; /* Asegura que las imágenes ocupen el 100% del contenedor */
  object-fit: cover; /* Ajusta el tamaño de las imágenes para llenar el contenedor */
  object-position: center;
}

.bg-negro {
  background: linear-gradient(transparent, transparent, #00000054);
  pointer-events: none;
}

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

.bg {
  /* position: absolute;
  height: 100%;
  width: 100%; */
  background: linear-gradient(
    180deg,
    rgba(0, 11, 38, 0.6) -14.26%,
    rgba(0, 11, 38, 0.4885428) 0.136%,
    rgba(0, 11, 38, 0.45) 4.112%,
    rgba(0, 11, 38, 0) 49.52%
  );
}

.App {
  height: 100vh;
  min-height: -webkit-fill-available;
  /* background-color: blue; */
}
/* background: #7c4343; */

html {
  /* min-height: 100vh; */
  background: red;
  height: -webkit-fill-available;
}
body {
  min-height: 100vh;
  background: red;
}
